<div class="container" style="width: 100%">
    <div class="small-container indexP">
        <div class="row">
            <div class="col-3">
                <img src="../../../../assets/img/perro.png">
                <h1>Mascotas</h1>
            </div>
            <div class="col-3">
                <img src="../../../../assets/img/citas.png">
                <h1>Citas</h1>
            </div>
            <div class="col-3">
                <img src="../../../../assets/img/tienda.png">
                <h1>Tienda</h1>
            </div>
        </div>
    </div>
</div>