<div class="header" style="width: 100%">
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/img/Pets2.jpg">
        </div>
        <div class="col-2 login">
            <h1>Happy Pet</h1>
            <div class="form_login">
                <h3>Login</h3>
                <form (ngSubmit)="login(form)" #form="ngForm">
                    <div class="form_control">
                        <label>Correo electrónico</label>
                        <input type="text" name="correoLI" #correoLI="ngModel" id="correoLI" [(ngModel)]="usuario.email" required>
                    </div>
                    <div class="form_control">
                        <label>Contraseña</label>
                        <input type="password"  name="contraLI" #contraLI="ngModel" id="contraLI" [(ngModel)]="usuario.password" required>
                    </div>
                    <div class="checkboxR">
                        <input type="checkbox" class="" id="exampleCheck1">
                        <label class="" for="exampleCheck1">Recordarme</label>
                    </div>
                    <div class="form_control">
                        <a class="aO" href="#">Olvidé mi contraseña</a>
                    </div>
                    <div class="alertC" *ngIf="!validarLogin">{{  mensajeLogin }}</div>
                    <button type="submit">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>
