/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Poppins', sans-serif;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    height: 100vh;
}

.small-container{
    margin: auto;
    height: 400px !important;
}

.col-3{
    border: 1px solid #d7cfcf;
    border-radius: 5px;
    padding: 5px;
    margin-left: 25px;
    flex-basis: 20%;
    height: 100%;
    cursor: pointer;
}

